@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #000;
  margin: 0;
  overflow: hidden;
}

h1 {
  color: #fff;
  font-size: 40px;
  position: fixed;
  font-family: "Muli", sans-serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 3px;
  text-align: center;
  margin: 0;
}
